/* * {
    border: 1px solid red;
} */

.card1 {
    width: 80%;
    padding: 50px 249px;
    gap: 20px;
    border-radius: 10px;

    flex-direction: column;
}

.card {
    width: 80%;
    padding: 30px 65px 25px 55px;
    gap: 65px;
    border-radius: 10px;
    margin: 20px;
}

.card img {
    height: 300px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
}


.card2 {
    width: 80%;
    padding: 50px 254px 50px 25px;
    gap: 15px;
    border-radius: 10px;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card3 {
    width: 80%;
    padding: 14px 289px;
    gap: 15px;
    border-radius: 10px;
    margin: 25px;

    flex-direction: column;
}

.botao {
    padding: 8px 15px;
    color: #ffffff;
    background: #E7AABB;
    border-radius: 40px;
    text-decoration: none;
    font-size: 14px;

    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none; */
    
}