/* * {
  border: 1px solid red;
} */

.caixa {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Adjust spacing between cards */
    gap: 10px;
}

.card {
    width: 450px;
    /* borda arredondada */
    border-radius: 10px;
    /* pra fora */
    margin: 10px;
    /* pra dentro */
    padding: 20px 10px 10px 10px;
    gap: 10px;
}

.card img {
    height: 300px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin: 0px;
}