* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter;
}

.container {
    width: 80%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

header {
    background-color: #E7AABA;
    height: 60px;
    width: 100%;

    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;

    line-height: 60px;
}

header ul li {
    display: inline;
    padding: 0 15px;
}

header ul li a {
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img {
    height: 40px;
}

main {
    margin-top: 100px;
}
