/* 
fundo #F1F4F3 
texto #4A4E4D 
títulos #A8D8D2 
botão #B7E4D8 
card #E2F0E4  
*/

header {
    background-color: #d6e2de;
}

header ul li a {
    color: #4A4E4D;
}

body {
    background: #F1F4F3;
}

h1,
h2,
h3,
h4 {
    color: #A8D8D2;
    margin: 10px 0px;
}

p {
    color: #4A4E4D;
}

.caixa {
    max-width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* Adjust spacing between cards */
    gap: 10px;
}

.card {
    background: #E2F0E4;
    width: 450px;
    /* borda arredondada */
    border-radius: 10px;
    /* pra fora */
    margin: 10px;
    /* pra dentro */
    padding: 20px 10px 10px 10px;
    gap: 10px;
}

.card img {
    height: 300px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin: 0px;
}