/* * {
    border: 1px solid red;
} */

#profile {
    border-radius: 50%;
    /* Makes the image circular */
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* Ensures the image covers the area */
}

.card {
    width: 80%;
    padding: 30px 65px 25px 55px;
    gap: 65px;
    border-radius: 10px;
    margin: 20px;
}

.card img {
    height: 300px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

