/* * {
    border: 1px solid red;
} */

header {
    background-color: #EFD6DC;
}

header ul li a {
    color: #4A4A4A;
}

body {
    background: #F7F2F3;
}

h1,
h2,
h3,
h4 {
    color: #D09BB0;
    margin: 10px 0px;
}

p {
    color: #4A4A4A;
}

.card1 {
    background: #F9E1E3;
    width: 80%;
    padding: 50px 249px;
    gap: 20px;
    border-radius: 10px;

    flex-direction: column;
}


.card {
    background: #F9E1E3;
    width: 80%;
    padding: 30px 65px 25px 55px;
    gap: 65px;
    border-radius: 10px;
    margin: 20px;
}

.card img {
    height: 300px;
    max-width: 400px;
    object-fit: cover;
    border-radius: 10px;
}


.card2 {
    background: #F9E1E3;
    width: 80%;
    padding: 50px 254px 50px 25px;
    gap: 15px;
    border-radius: 10px;
    margin: 25px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.card3 {
    background: #F9E1E3;
    width: 80%;
    padding: 14px 289px;
    gap: 15px;
    border-radius: 10px;
    margin: 25px;

    flex-direction: column;
}

/* .botao {
    display: flex;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #E7AABB;
    border: none;
    border-radius: 40px;
} */

.botao {
    padding: 8px 15px;
    color: #ffffff;
    background: #E7AABB;
    border-radius: 40px;
    text-decoration: none;
    font-size: 14px;

    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none; */
    
}